@font-face {
  font-family: 'iconfont'; /* Project id 2764430 */
  src: url('//at.alicdn.com/t/font_2764430_gkevqd7ww7b.woff2?t=1629774453906')
      format('woff2'),
    url('//at.alicdn.com/t/font_2764430_gkevqd7ww7b.woff?t=1629774453906')
      format('woff'),
    url('//at.alicdn.com/t/font_2764430_gkevqd7ww7b.ttf?t=1629774453906')
      format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
